.home_version_02 .Welcome-area .wel-text-box {
    text-align: center;
}

.home_version_02 .Welcome-area .wel-text-box .wel-text {
    margin-top: -60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
    padding: 100px 25px 40px;
    transition: all 0.3s ease-in-out;
}

.home_version_02 .Welcome-area .wel-text-box .wel-icon {
    background-color: #fec722;
    border-radius: 100%;
    height: 120px;
    margin: 0 auto;
    position: relative;
    width: 120px;
}

